<div class="container-fluid">

<!-- Begin search form -->
  <div class="row searchform mx-auto mt-5 text-center">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <form action="/search" method="GET">
        <div class="form-group">
          <input type="text" class="form-control searchinput" name="searchTerm" placeholder="Search the restaurant">
        </div>
        <button class="btn btn-primary searchsubmit" type="submit">Search</button>
      </form>
    </div>
  </div>
<!-- End search form -->

</div>
