
.leftcol {
  top: 0%;
  left: 0%;
  width: 20%;
  height: 100%;
  background-color: grey;
  position: absolute;
}
.middlecol {
  top: 0%;
  left: 20%;
  width: 60%;
  height: 100%;
  background-color: green;
  position: absolute;
}


.rightcol {
  top: 0%;
  left: 80%;
  width: 20%;
  height: 100%;
  background-color: orange;
  position: absolute;
}
