html, body {
  overflow: hidden;
  height: 100%;
}


h1, h2, h3, h4, h5 {
  font-weight: lighter;
}



.todoform {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoinput, .todosubmit {
  font-weight: lighter;
}

.todoitem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status {
  text-align: left;
}
.statusicon {
  width: 10%;
  mix-blend-mode: multiply;
  cursor: default;
  outline: none;
}
