
 header {
   background: grey;
   height: 50px;
   clear: both;
 }

 footer {
   background: skyblue;
   height: 50px;
   clear: both;
 }


 .left {
   width: 280px;
   height: 100vh;
   background-color: pink;
   padding: 10px;
   float: left;
 }

.right {
  width: calc(100% - 320px);
  height: 100vh;
  background-color: red;
  padding: 10px;
  float: left;
}
